.sign-in {
    width: 40%;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    button {
        margin: 0 10px 0 0;
        // display: flex;
        // justify-content: space-between;
    }
}